@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
  }
}
